# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/src/generated/resources/.cache/6ad7bec670d40cd39526767961c3c5cf4e21f9ea
*.log.gz
*.log
*.toml
*.yaml
*.ini
